---
description: "Cria nova feature para {{.Project}} a partir de uma descrição"
agent: agent
---

Invoque o Specifier para criar uma feature a partir desta descrição: ${input:descrição da feature}. Pergunte ao usuário pelo ID do Workitem de referência (se omitido ou não possuir, gere um hash hexadecimal de 4 dígitos aleatório como `3ec4`).

**Handoff:**
Ao finalizar, gere um resumo para o comando `/proxima-feature`.

> Crie a branch `feat/*` localmente (`git checkout -b feat/<workitem-ou-hash>-<nome-da-feature>`) **antes** de criar o arquivo de especificação `sdd/features/feat-<workitem-ou-hash>-<nome-da-feature>.md`. Se a feature for complexa e requerer quebra em subfeatures/tasks, crie uma subpasta com o nome da feature (ex: `sdd/features/feat-<workitem-ou-hash>-<nome-da-feature>/`) e salve as tasks lá dentro (ex: `sdd/features/feat-<workitem-ou-hash>-<nome-da-feature>/task-YY-<nome-da-task>.md`).
